# ==================================================
# TIKTOK CONFIGURATION
# ==================================================

TIKTOK_USERNAME=



# ==================================================
# TWITCH ACCOUNT
# ==================================================

TWITCH_BOT_USERNAME=
TWITCH_BOT_ID=



# ==================================================
# TWITCH TARGET CHANNEL
# ==================================================

TWITCH_CHANNEL=
TWITCH_BROADCASTER_ID=



# ==================================================
# TWITCH API AUTHENTICATION
# ==================================================

TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_TOKEN=



# ==================================================
# RELAY CONTROL
# ==================================================

RELAY_ENABLED=false



# ==================================================
# GIFT SETTINGS
# ==================================================

GIFT_DELAY=10